video {
    height: 400px;
    width: auto;
    margin:20px;
    border-color: black;
    border-style:  double;
    border-width: 1px;
 
}

.showVideo {
    display:block;
}

.hideVideo {
    display:none
}

.videoContainer {
    margin: 10px;
}