video {
   
    
    width: 100%;
    margin:5px;
    border-color: black;
    border-style:  double;
    border-width: 1px;
 
}

.showVideo {
    display:block;
}

.hideVideo {
    display:none
}

.videoContainer {
    margin: 10px;
   
   
}